		<div class="card">
			<div class="header">
				<span class="nav"><%= link_to 'X', project_card_path(card.project, card), method: :delete, remote: true %> </span>
				<h3> <%= card.title %> </h3>
			</div>
			<p> <%= card.body %> </p>
		</div>